<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test" verbose="5">
  <parameter name= "username" value= "ria1" />
   <parameter name= "password" value= "Ria12345" /> 
     <parameter name= "subject" value= "Request to refill the prescription" />
     <parameter name= "message" value= "Hello Doc, Please send prescreption refill" />
    <classes>
      <class name="Patient.MMPProjectCopy.US_001TestSendMessage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
